// css初始化
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg) no-repeat top center;
    line-height: 1.15;
}

header {
    position: relative;
    height: 1.25rem;
    background: url(../images/head_bg.png) no-repeat;
    background-size: 100% 100%;
    h1 {
        font-size: 0.475rem;
        color: #fff;
        text-align: center;
        line-height: 1rem;
    }
    .showTime {
        position: absolute;
        top: 0;
        right: .375rem;
        line-height: .9375rem;
        font-size: 0.25rem;
        color: rgba(255, 255, 255, .7);
    }
}

.mainbox {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    padding: .125rem .125rem 0;
    background-color: pink;
    .column {
        flex:3;
    }
    .column:nth-child(2) {
        flex:5;
    }
}